@media only screen and (max-width: 1280px) {
  .header {
    padding: 20px 10px;
  }

  .topRek {
    padding: 30px 10px;
  }

  .service__outer {
    padding: 0 10px;
  }

  .service__item span {
    font-size: 22px;
  }

  .preim__outer {
    padding: 0 10px;
  }

  .mainBlock {
    padding: 0 10px;
  }

  .footer {
    padding: 0 10px;
  }

  .page {
    padding: 20px 10px;
  }

  .page_wide {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .topMenu li.lev1>a {
    font-size: 20px;
    padding: 0 15px 0 15px;
    margin: 0 5px 0 0;
  }

  .topMenu li.lev2>a {
    padding: 5px;
    font-size: 14px;
  }

  .topRek__text {
    width: 50%;
  }

  .topRek__formArea {
    width: 30%;
  }
}

@media only screen and (max-width: 1080px) {
  .logo1 span {
    font-size: 36px;
  }

  .header__info a {
    font-size: 28px;
  }

  .topMenu li.lev1>a {
    padding: 0 8px 0 8px;
  }

  .service__item span {
    font-size: 18px;
  }

  .preim__item span {
    font-size: 20px;
  }

  .leftMenu li a {
    font-size: 18px;
    padding: 5px;
  }

  .news__item2 a {
    font-size: 14px;
  }

  .left__title {
    font-size: 20px;
    padding: 5px;
  }

  .form1 input {
    height: 28px;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0 5px;
  }

  .form1 textarea {
    height: 70px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 920px) {
  .logo1 span {
    font-size: 32px;
  }

  .header__info a {
    font-size: 26px;
  }

  .topRek__text {
    width: 60%;
  }

  .topRek__formArea {
    width: 35%;
  }

  .service__itemOuter {
    width: 50%;
  }

  .service__item img {
    width: 300px;
    height: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .menuButton {
    display: block;
  }

  .topMenu {
    display: none;
  }

  .preim {
    justify-content: space-around;
  }

  .preim__item {
    width: 45%;
    margin-bottom: 30px;
  }

  .news__item {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }


}

@media only screen and (max-width: 768px) {
  .topRek__text {
    width: 50%;
  }

  .topRek__formArea {
    width: 50%;
  }

  .topRek__text span {
    font-size: 36px;

  }

  h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 22px;
  }

  .text__outer {
    padding: 20px 5px;
  }

  .title {
    margin-bottom: 10px;
  }

  .preim__item i {
    font-size: 46px;
  }

  .preim__area {
    padding: 20px 0;
  }

  .mainNews__area {
    width: 50%;
    padding-right: 20px;
  }

  .mainContacts__area {
    width: 50%;
    padding-right: 20px;
  }

  .mainForm__area {
    width: 50%;
  }

  .news__item a {
    font-size: 16px;
  }

  .news__itemTop {
    margin-bottom: 0;
  }

  .news__redmore {
    margin-top: 10px;
    font-size: 20px;
  }

  .footer__area {
    padding: 10px 0;
  }

  .f1 {
    order: 1;
    width: 50%;
  }

  .f2 {
    order: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .f3 {
    order: 2;
    width: 50%;
  }

  .page__left {
    width: 25%;
    display: none;
  }

  .page__right {
    width: 100%;
    padding-left: 0;
  }

  .zBtn {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {

  .logo1 span {
    font-size: 24px;
  }

  .header__info a {
    font-size: 22px;
  }

  .topRek__text {
    width: 100%;
    text-align: center;
  }

  .topRek__formArea {
    display: none;
  }

  .topRek {
    flex-direction: column;
  }

  .z1__btn {
    display: flex;
  }

  .topRek {
    padding: 10px;
  }

  .service__itemOuter {
    width: 100%;
  }

  .content p,
  .content ul,
  .content ol,
  .content blockquote,
  .content table {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 5px 0;
  }

  .preim {
    justify-content: space-around;
  }

  .preim__item {
    width: 90%;
    margin-bottom: 20px;
  }

  .preim__item:nth-child(even) {
    justify-content: flex-end;
  }

  .preim__item:nth-child(even) i {
    order: 2;
    margin: 0 0 0 15px;
  }

  .preim__item:nth-child(even) span {
    text-align: right;
  }

  .mainBlock__area {
    padding: 20px 0;
  }

  .mainNews__area {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .mainContacts__area {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .mainForm__area {
    width: 100%;
  }

  .news__redmore {
    margin-left: auto;
  }

  .popupCallBack {
    display: none;
    z-index: 5000;
    position: fixed;
    top: 10px;
    width: 96%;
    left: 2%;
    margin-left: 0;
  }

  .formZ__outer {
    padding: 10px;
  }

  .formZ__title {
    margin-bottom: 5px;
    font-size: 22px;
  }

  .formZ input {
    height: 28px;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0 5px;
  }

  .formZ textarea {
    height: 70px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .submitZ {
    width: 80%;
    height: 26px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 480px) {
  .z1__btn {
    width: 70%;
  }

  h1 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .preim__item span {
    font-size: 18px;
  }

  .preim__item p {
    font-size: 14px;
  }

  .f1 {
    order: 2;
    width: 100%;
  }

  .f3 {
    order: 1;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .logo1 span {
    font-size: 20px;
  }

  .header__info a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {}