- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer
include __form




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site__header
    +header
  .site__center
    
  .site__footer
    +footer
  
  +toTop

  +scripts



    