- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer
include __form




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site__header
    +header
  .site__center
    .main.w
      //- .leftSide 
      .mainSide  
        .iBox 
          .iBox__title 
            h3 Автокраны
          .iBox__content.content 
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eaque labore laboriosam
              | libero minima nisi officiis recusandae tempora tenetur voluptatem? Accusamus, aliquid at
              | culpa itaque labore libero nostrum quod repellendus.
            ul
              li Lorem ipsum dolor.
              li Lorem ipsum.
              li
                | Lorem ipsum 
                strong dolor
                |  sit amet.
              li
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ipsa. Lorem ipsum
                | dolor sit amet, consectetur adipisicing elit. Corporis, ipsa. Lorem ipsum dolor sit
                | amet, consectetur adipisicing elit. Corporis, ipsa.
              li Lorem.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores magni odio
              | possimus, rem tempora!
        .iBox 
          .iBox__title 
            h3 Автокраны
          .iBox__content.content 
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eaque labore laboriosam
              | libero minima nisi officiis recusandae tempora tenetur voluptatem? Accusamus, aliquid at
              | culpa itaque labore libero nostrum quod repellendus.
            ul
              li Lorem ipsum dolor.
              li Lorem ipsum.
              li
                | Lorem ipsum 
                strong dolor
                |  sit amet.
              li
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ipsa. Lorem ipsum
                | dolor sit amet, consectetur adipisicing elit. Corporis, ipsa. Lorem ipsum dolor sit
                | amet, consectetur adipisicing elit. Corporis, ipsa.
              li Lorem.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores magni odio
              | possimus, rem tempora!

      //- .rightSide
    
  .site__footer
    +footer
  
  +toTop

  +scripts



    