- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer
include __form



<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site__header
    +header
  .site__center
    .topTitle__area
      .topTitle
        h1 Контакты
    .mainBlock__area
      .mainBlock
        .mainContacts__area
          .breadcrumbs__area
            .breadcrumbs
              div
                a(href='#') Главная 
              |                         /
              div
                a(href='#') Категория 
              |                         /
              div
                span Текущий пункт
          .content
            p
              | Малый бизнес постепенно осознает, что приходящий бухгалтер или частный бухгалтер на дому - наименее
              | затратный способ ведения бухгалтерии. Организации, которые только стоят на пороге своего развития
              | или имеют сравнительно небольшие объемы оборотов, ограничиваются содержанием тесного коллектива, в
              | который идеально вписывается приходящий бухгалтер или удаленный бухгалтер на дому.
            p
              | Главная причина, по которой бизнесмены за бухгалтерскими услугами обращаются к частным специалистам,
              | - экономия, поскольку если доходы фирмы и объем документации невелики, то платить за бухгалтерское
              | обслуживание приходящему бухгалтеру оказывается дешевле, чем содержать собственную бухгалтерию. Из
              | этого следует, что привлечение главного бухгалтера по совместительсту, позволяет избежать таких
              | затрат как: подбор кадров для ведения бухгалтерского учета фирмы, расширение помещения, закупка
              | дополнительной техники, программного обеспечения, литературы, обновление программ, нет необходимости
              | тратить деньги наповышение квалификации бухгалтера.
        .mainForm__area
          .title
            h3 Обратная связь
          +form1
    .map__area
      #map




  .site__footer
    +footer
  
  +toTop
  +popUpForm

  +scripts



    