mixin footer 
  .footer__area
    footer.footer
      .f1
        span.copyright © Саратовтехника 2024 г.
        p.oferta *Информация на сайте не является публичной офертой
      .f2
        
      .f3
        .telephon
          i.fa.fa-phone(aria-hidden='true')
          a(href='tel:+79172032528') +7(917) 203-25-28
        .telephon
          i.fa.fa-whatsapp(aria-hidden='true')
          a(href='tel:+79878307894') +7(987) 830-78-94
        .telephon
          p г. Энгельс, ул. Рабочая 117