mixin footer 
  .footer__area
    footer.footer
      .f1
        span.copyright © Баланс64 2018 г.
        p.oferta *Информация на сайте не является публичной офертой
        a.policy(href='#') Политика конфиденциальности
        .dev
          | Разработка сайта - 
          a(href='https://site-a.ru' target='_blank') Сайт-А
      .f2
        .like__area
          .likeBlock
            a.like_twitter(onclick='return share.twitter(share_url,share_title);' href='#')
              i.fa.fa-twitter(aria-hidden='true')
            a.like_gp(onclick='return share.gp(share_url,share_title);' href='#')
              i.fa.fa-google-plus(aria-hidden='true')
            a.like_vk(onclick='return share.vk(share_url,share_title,share_image,share_desc);' href='#')
              i.fa.fa-vk(aria-hidden='true')
            a.like_ok(onclick='return share.ok(share_url,share_desc);' href='#')
              i.fa.fa-odnoklassniki(aria-hidden='true')
            a.like_fb(onclick='return share.fb(share_url,share_title,share_image,share_desc);' href='#')
              i.fa.fa-facebook(aria-hidden='true')
      .f3
        .telephon
          i.fa.fa-phone(aria-hidden='true')
          a(href='tel:79873385617') 7(987)338-56-17
        .telephon
          p г. Энгельс, пл. Свободы, 20, оф. 404