mixin header 
  .header__area
    header.header.w
      .logo1
        a(href='/')
          span Саратовтехника
          span Спецтехника и оборудование б/у и с конверсии
      
      .header__info
        a(href='tel:+79172032528') +8(917) 203-25-28
      .menuButton
        span
        span
        span
      .adaptiveMenu__area
        .adaptiveMenu__outer
          ul.adaptiveMenu
            li.alev1.active
              a(href='#') Главная
            li.alev1
              a(href='#') Каталог
              ul
                li.alev2
                  a(href='#') Автокраны
                li.alev2
                  a(href='#') Башенные краны
                li.alev2
                  a(href='#') Техника для аэродромов
                li.alev2
                  a(href='#') Разное
            li.alev1
              a(href='#') Выкуп спецтехники
            li.alev1
              a(href='#') Контакты
  .topMenu__area
    .topMenu__outer.w
      ul.topMenu
        li.lev1.active
          a(href='#') Главная
        li.lev1
          a(href='#') Каталог
          ul
            li.lev2
              a(href='#') Автокраны
            li.lev2
              a(href='#') Башенные краны
            li.lev2
              a(href='#') Техника для аэродромов
            li.lev2
              a(href='#') Разное
        li.lev1
          a(href='#') Выкуп спецтехники
        li.lev1
          a(href='#') Контакты