mixin pdfList 
  .pdflist__area 
    .sideContent__title
      h2 Документы
    .pdflist 
      a.pdflist__item(href="#" target="_blank" title="Скачать или открыть")
        img(src="assets/img/pdf.png", alt="Скачать")
        span Название документа
      a.pdflist__item(href="#" target="_blank" title="Скачать или открыть")
        img(src="assets/img/pdf.png", alt="Скачать")
        span Название документа
      a.pdflist__item(href="#" target="_blank" title="Скачать или открыть")
        img(src="assets/img/pdf.png", alt="Скачать")
        span Название документа
      a.pdflist__item(href="#" target="_blank" title="Скачать или открыть")
        img(src="assets/img/pdf.png", alt="Скачать")
        span Название документа
      a.pdflist__item(href="#" target="_blank" title="Скачать или открыть")
        img(src="assets/img/pdf.png", alt="Скачать")
        span Название документа

